.banner {
  color: white;
  height: 100vh;
  background-size: cover !important;
  display: flex;
}

.imageContent{
  background: image-url('banner_photo_old_man.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
}

.overlay {
  background:linear-gradient(90deg, rgba(255,147,0,1) 0%, rgba(255,147,0,0.1) 80%);
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-content {
  margin-left: 8vw;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;

}
.banner p {
  font-size: 25px;
  color: #ffffff;
  opacity: 0.9;
  margin-bottom: 30px;
}

.col-xs-12.col-md-4 p {
  padding: 0 4vw 0 4vw;
}
