// Specific CSS for your home-page
.mar-top {
  margin-top: 150px;
}

h1.mar-top {
  color: #4BDDB9;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2.mar-bottom {
  color: rgba(155,155,155, 0.7);
  font-weight: 100;
}
