// Specific CSS for your home-page

body {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

h1 {
  color: #777;
  font-size: 40px;
}

.container {
  width: 100%;
  padding: 55px 0;
  text-align: center;
}

.pink {
  background-color: #f6dcdd;
}

.gray {
  background-color: #fdfdfd;
}

.footer p {
  font-size: 12px;
}

.team img {
  border-radius: 50%;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#scan {
  height: 100vh;
}

.qr {
  width: 30vw;
  margin: 5vh 0;
  border-radius: 5%;
}

.banner .btn-primary {
  border: none;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
.banner .btn-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.banner .btn-primary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.banner .btn-primary:hover span {
  padding-right: 25px;
}

.banner .btn-primary:hover span:after {
  opacity: 1;
  right: 0;
}
