// Specific CSS for your home-page

body {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
}

h1 {
color: $green;
font-size: 40px;
}

.mar-top {
margin-top: 150px;
}

h1.mar-top {
  color: $green;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: rgba(155,155,155, 0.7);
  font-weight: 100;
}

.container {
  background-color: rgba(233,233,233, 0.7);
  width: 100%;
  padding: 55px 0;
  text-align: center;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.team-container {
  background-color: $green;
  width: 100%;
  padding: 55px 0;
  text-align: center;
  color: white;
  font-size: 18px;
}

.team-container h1 {
  color: white;
}

.team-container p {
  margin: 10px 20px;
}

.team-container img {
  border-radius: 50%;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: 0 0 20px #FFFFFF;
}

.name {
  font-size: 25px;
  font-weight: 800;
  line-height: 23px;
}

.link {
  font-size: 15px;
}

#footer {
  margin: 30px 0;
  font-size: 30px;
  color: #9B9B9B;
}

  h2.mar-bottom {
  color: rgba(155,155,155, 0.7);
  font-weight: 100;
}

