<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<<<<<< Updated upstream
Wassup niggas
=======
<h1 class="mar-top">Having trouble socializing?</h1>
<h2 class="mar-bottom">Share your vocal diary</h2>


<!-- GRAY CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <img src="images/phone-icon.png">
        <p>Get the phone out of your pocket (if you haven't already), open up your WeChat and scan the QR code. No need to set up your profile.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <img src="images/radar-icon.png">
        <p>Select an interest or a hobby you find the most appealing. See how many people nearby like the same thing.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <img src="images/meeting-icon.png">
        <p>Choose a person you want to meet up with, send them a request, and wait for their reply. Your next meeting can start within minutes!</p>
      </div>
    </div>
  </div>
</div>
<!-- SECOND HEADER QR -->
<h1 class="mar-top">Scan the QR code</h1>
<h2>Find new friends right now.</h2>
<img src="images/QR.png" alt="SeeMe QR Code" class="mar-bottom">

<!-- TEAM -->
<div class="team-container">
<h1>Meet the team</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <img src="images/profile/etienne.jpg">
      <div class="name">Harrison</div>
      <div class="link">@elephantonaleaf</div>
      <p>🔥👌🇨🇦</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <img src="images/profile/jay.jpg">
      <div class="name">Ben</div>
      <div class="link">@yadoyadoya</div>
      <p>After five years of mechanical engineering experience, I decided to learn to code from scratch at Le Wagon. I enjoyed every moment we solved problems together, and I am pretty sure I can be a good programmer. Good luck to myself!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <img src="images/profile/marketa.jpeg">
      <div class="name">Lan</div>
      <div class="link">@thebluebeard</div>
      <p>From law to marketing to web development. I enjoy learning about design, frontend development, photography, and foreign languages. Spicy food lover.</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<p id="footer">Made with ♡ @LeWagon</p>
>>>>>>> Stashed changes
