<div class="banner imageContent">
  <div class="overlay">
    <div class="banner-content">
      <h1>Storify your life.</h1>
      <p>Become a storyteller with Silvapowa</p>
      <a href="#scan" class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>

<h1 class="mar-top">Having trouble socializing?</h1>
<h2 class="mar-bottom">Share your stories with others. Listen to other's stories!</h2>


<!-- GRAY CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p>Get the phone out of your pocket (if you haven't already), open up your WeChat and scan the QR code. No need to set up your profile.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <p>Select an interesting topic and start telling your stories.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
      <div class="card">
        <i class="fa-headphones" aria-hidden="true"></i>
        <p>Listen to other people's stories!</p>
      </div>
    </div>
  </div>
</div>


<!-- Scan QR Code Section-->
<div id="scan">
  <h1 class="mar-top">Scan the QR code</h1>
  <h2>Share your life stories now.</h2>
  <%= image_tag "qr_bubble.jpeg", :class => "qr" %>
</div>


<!-- TEAM -->
<div class="team-container">
  <h1>Meet the team</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars3.githubusercontent.com/u/31037787?v=4">
      <div class="name">Harrison</div>
      <div class="link">@elephantonaleaf</div>
      <p>Having learned architecture in Taiwan, Korea and China, I am now a web developer </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars0.githubusercontent.com/u/20118433?v=4">
      <div class="name">Ben</div>
      <div class="link">@yadoyadoya</div>
      <p>After 5 years of working in tech management, I decided to learn coding at Le Wagon</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="https://avatars0.githubusercontent.com/u/31949049?v=4">
      <div class="name">Lan</div>
      <div class="link">@thebluebeard</div>
      <p>Having my own company in education, I enjoy learning about design, full-stack development and foreign languages</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<p id="footer">Brought to you by Silvapowa</p>

