<div class="banner imageContent">
  <div class="overlay">
    <div class="banner-content">
      <h1>Campfire Stories</h1>
      <p>The best place to share your stories</p>
      <a href="#scan" class="btn btn-primary btn-lg"><span>Start now</span></a>
    </div>
  </div>
</div>

<!-- dirty pink container -->

<div class="container gray">
  <h1 class="mar-top">Did you know?</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>43%</h1>
        <p>"Almost half of people over 60 suffer from loneliness"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>15</h1>
        <p>"15 cigarettes a day: the effects of loneliness on physical and cognitive health"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>64%</h1>
        <p>"Lonely seniors are 64% more likely to develop dementia and 32% to get a stroke"</p>
      </div>
    </div>
  </div>
</div>



<!-- dirty gray container -->
<div class="container pink">
  <h1 class="mar-top">Benefits of storytelling</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512406215990" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1227" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M859.161744 516.247744c-42.140773 0-81.645508 19.197224-108.994389 51.659567-27.348881-32.462343-66.853617-51.659567-108.99439-51.659567-80.438007 0-145.889695 69.142753-145.889695 154.132426 0 38.366819 12.765745 74.346265 35.951817 101.300151 50.28629 58.472739 206.526727 229.297336 208.108758 231.017514l16.262382 17.774829 15.665795-18.316158C976.24537 762.383584 976.24537 762.383584 976.882889 761.453399c18.413372-26.079982 28.154223-57.570183 28.154224-91.073229 0.001023-84.989673-65.437361-154.132426-145.875369-154.132426z m83.420945 219.868593C932.509263 747.93143 800.523229 902.33401 754.538919 956.1241c-41.4746-45.442982-150.73198-165.440983-190.985776-212.236776-16.539698-19.232017-25.642007-45.332465-25.642007-73.507154 0-61.483306 46.316885-111.505583 103.263875-111.505583 37.284161 0 71.793116 21.840424 90.081645 57.001225l18.912745 36.347836 18.912745-36.347836c18.288528-35.160801 52.797483-57.001225 90.081645-57.001225 56.932664 0 103.249549 50.022277 103.249549 111.505583-0.002047 24.219611-6.800893 46.844911-19.830651 65.736167z" fill="#ab00ce" p-id="1228"></path><path d="M722.110345 250.631224c0-135.941112-110.589724-246.537999-246.530836-246.537999S229.03537 114.690112 229.03537 250.631224c0 96.473215 55.82954 179.947372 136.75464 220.425272-196.004069 59.882855-341.616448 276.365328-341.616448 533.590737h42.626843c0-279.818987 183.326329-507.47187 408.655284-507.47187v-0.00614c0.042979 0 0.082888 0.00614 0.124843 0.00614 135.940089 0 246.529813-110.596887 246.529813-246.544139z m-450.449155 0c0-112.435769 91.482551-203.911156 203.918319-203.911156s203.903993 91.476411 203.903993 203.911156c0 112.441908-91.469248 203.918319-203.903993 203.918319S271.66119 363.073132 271.66119 250.631224z" fill="#ab00ce" p-id="1229"></path></svg>
          <p>"Storytelling improves the brain by forming new neuronal pathways"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512406169882" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="723" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M517.397333 149.333333c93.866667 0 169.962667 71.509333 169.962667 159.722667a151.338667 151.338667 0 0 1-19.029333 73.429333l137.557333 100.330667a108.821333 108.821333 0 0 1 60.16-17.92c57.834667 0 104.746667 44.074667 104.746667 98.432s-46.912 98.410667-104.746667 98.410667c-57.813333 0-104.746667-44.053333-104.746667-98.410667 0-12.245333 2.432-23.978667 6.784-34.816l-137.557333-100.288a173.866667 173.866667 0 0 1-82.346667 37.866667v153.28c61.162667 13.141333 106.794667 64.554667 106.794667 126.016 0 71.381333-61.610667 129.28-137.6 129.28-75.968 0-137.557333-57.898667-137.557333-129.28 0-61.44 45.610667-112.853333 106.773333-126.016v-153.28a173.824 173.824 0 0 1-82.346667-37.866667l-137.557333 100.288c4.352 10.837333 6.762667 22.570667 6.762667 34.816 0 54.357333-46.890667 98.410667-104.725334 98.410667-57.813333 0-104.725333-44.053333-104.725333-98.410667 0-54.357333 46.890667-98.410667 104.725333-98.410667 22.4 0 43.136 6.613333 60.16 17.898667l137.557334-100.330667a151.466667 151.466667 0 0 1-19.029334-73.429333c0-88.213333 76.117333-159.722667 169.984-159.722667z" fill="#ab00ce" p-id="724"></path></svg>
          <p>"Speaking improves mood, communication skills and social interactions"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512406215990" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1227" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M859.161744 516.247744c-42.140773 0-81.645508 19.197224-108.994389 51.659567-27.348881-32.462343-66.853617-51.659567-108.99439-51.659567-80.438007 0-145.889695 69.142753-145.889695 154.132426 0 38.366819 12.765745 74.346265 35.951817 101.300151 50.28629 58.472739 206.526727 229.297336 208.108758 231.017514l16.262382 17.774829 15.665795-18.316158C976.24537 762.383584 976.24537 762.383584 976.882889 761.453399c18.413372-26.079982 28.154223-57.570183 28.154224-91.073229 0.001023-84.989673-65.437361-154.132426-145.875369-154.132426z m83.420945 219.868593C932.509263 747.93143 800.523229 902.33401 754.538919 956.1241c-41.4746-45.442982-150.73198-165.440983-190.985776-212.236776-16.539698-19.232017-25.642007-45.332465-25.642007-73.507154 0-61.483306 46.316885-111.505583 103.263875-111.505583 37.284161 0 71.793116 21.840424 90.081645 57.001225l18.912745 36.347836 18.912745-36.347836c18.288528-35.160801 52.797483-57.001225 90.081645-57.001225 56.932664 0 103.249549 50.022277 103.249549 111.505583-0.002047 24.219611-6.800893 46.844911-19.830651 65.736167z" fill="#ab00ce" p-id="1228"></path><path d="M722.110345 250.631224c0-135.941112-110.589724-246.537999-246.530836-246.537999S229.03537 114.690112 229.03537 250.631224c0 96.473215 55.82954 179.947372 136.75464 220.425272-196.004069 59.882855-341.616448 276.365328-341.616448 533.590737h42.626843c0-279.818987 183.326329-507.47187 408.655284-507.47187v-0.00614c0.042979 0 0.082888 0.00614 0.124843 0.00614 135.940089 0 246.529813-110.596887 246.529813-246.544139z m-450.449155 0c0-112.435769 91.482551-203.911156 203.918319-203.911156s203.903993 91.476411 203.903993 203.911156c0 112.441908-91.469248 203.918319-203.903993 203.918319S271.66119 363.073132 271.66119 250.631224z" fill="#ab00ce" p-id="1229"></path></svg>
          <p>"Exchanging stories alleviates symptoms of agitation, depression and blood pressure"</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GRAY CONTAINER -->

<div class="container gray">
  <h1 class="mar-top">How to use campfire</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <%#= image_tag "smartphone.png" %>
          <svg t="1512405608675" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1702" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M511.999 892.243c-31.93 0-63.855-2.9-94.335-8.705L195.61 1018.513 195.61 795.008C79.505 713.733 5.485 588.919 5.485 449.589c0-245.274 226.409-444.104 506.514-444.104 280.114 0 506.514 198.829 506.514 444.104C1018.512 694.858 792.113 892.243 511.999 892.243zM511.999 69.34c-245.274 0-444.104 169.805-444.104 380.249 0 129.17 75.465 242.374 188.67 310.579l0 148.04 149.49-89.98c34.83 7.26 69.665 11.615 107.4 11.615 245.274 0 444.104-169.81 444.104-380.254C956.113 239.144 757.278 69.34 511.999 69.34zM734.058 417.664 289.944 417.664c-17.41 0-31.93-14.515-31.93-31.93 0-17.42 14.52-31.93 31.93-31.93l444.114 0c17.41 0 31.93 14.51 31.93 31.93C765.988 403.149 751.468 417.664 734.058 417.664zM353.804 543.924l316.394 0c17.41 0 31.925 14.52 31.925 31.93 0 17.42-14.515 31.935-31.925 31.935L353.804 607.789c-17.415 0-31.925-14.515-31.925-31.935C321.879 558.444 336.389 543.924 353.804 543.924z" p-id="1703" fill="#ab00ce"></path></svg>
          <p>Choose a topic and talk about it.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <%#= image_tag "yoga-posture.png" %>
          <svg t="1512405547004" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="905" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M840.074284 369.496562c17.859957-4.676109 28.552329-22.974042 23.876219-40.834001-21.062162-80.327848-90.653054-180.107577-198.683506-221.9303-65.30293-25.279315-169.693202-38.185166-296.131737 43.897206-79.913476 51.872555-126.900114 129.55157-135.887789 224.67617-14.447946 152.987192 68.578566 304.728645 114.135882 348.374081 72.192519 69.200124 119.895129 114.941023 166.994539 187.458745 45.601901 70.167866 144.760071 131.303472 225.48131 107.728853 46.294269-13.524787 101.736194-58.712316 102.842934-197.159771 0.159979-18.481516-14.702338-33.574622-33.160251-33.713621-18.481516-0.162602-33.574622 14.699715-33.71362 33.157628-0.367165 43.99162-7.949124 119.850545-54.731198 133.51433-46.708641 13.619201-119.318155-31.799117-150.634713-79.984286-51.319185-78.99294-103.949674-129.457156-176.813581-199.302442-37.83636-36.247059-105.239997-172.827218-93.810674-293.781881 7.096776-75.098369 42.65409-133.949683 105.701577-174.875474 82.496744-53.532666 161.765059-66.181503 235.573104-37.608193 85.536347 33.113043 141.925032 114.712856 158.124881 176.514604C803.921639 363.4803 822.216949 374.175294 840.074284 369.496562zM747.490991 568.979963c-18.644118-6.485709-42.153171 7.296094-54.993459 47.492802-13.794916 43.173366-6.485709 154.576492-24.883301 156.281186-14.154213 1.311304-13.16549-6.855496-17.317078-16.960403-0.005245-0.015736-0.005245-0.028849-0.010491-0.044584l-13.897197-47.563612c-6.176241-26.268038-13.181226-56.042502-32.397072-86.829293l-43.692643-58.114361c-26.155266-31.526366-46.776829-56.43327-47.424613-86.761105-0.621558-29.91084 17.996334-59.430911 45.302924-71.780769 16.037246-7.259377 40.464212-11.059536 65.69632 12.074485 13.619201 12.465254 34.775777 11.568322 47.264635-2.050879 12.465254-13.616579 11.568322-34.773155-2.053502-47.262011-39.49647-36.202475-91.274612-45.074756-138.49204-23.713618-51.778142 23.435622-85.790739 77.33283-84.59483 134.112284 1.130344 53.645438 32.467882 91.481798 62.795717 128.054062l38.46054 50.878588c13.385789 21.405724 18.295311 42.399697 24.009972 66.687666l17.120383 57.652783c0.820876 2.761606 2.027276 5.163914 3.398899 7.393131 23.579865 48.63888 67.151868 58.777881 99.100473 46.923695 35.646483-13.228433 49.305023-47.167597 44.442708-88.950981-2.423289-20.826127 6.485709-76.197241 25.148184-120.676666C769.193069 605.061798 761.183626 573.742618 747.490991 568.979963z" p-id="906" fill="#ab00ce"></path></svg>
          <p>Choose a topic and listen to what others said about the topic.</p>
        </div>
      </div>
<!--       <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "love-triangle.png" %>
          <p>Save and share with others!</p>
        </div>
      </div> -->
    </div>
  </div>
</div>




<!-- Scan QR Code Section-->
<div class="container pink" id="scan">
  <h1 class="mar-top">Scan the WeChat QR code</h1>
  <%= image_tag("silvapowa_qrcode.jpg", :alt => "silvapowa qr code", :class => "qr") %>
</div>


<!-- TEAM -->
<div class="container team gray">
  <h1>Meet the campfire builders</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag("harrison.png", :alt => "Harrison Kim") %>
      <p>Harrison</p>
      <p>@elephantonaleaf</p>
      <p>Architect. Teacher. Philanthropist. Web Developer.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/20118433?v=4">
      <p>Ben</p>
      <p>@yadoyadoya</p>
      <p>After 5 years of working in tech management, I decided to learn coding at Le Wagon</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/31949049?v=4">
      <p>Lan</p>
      <p>@thebluebeard</p>
      <p>Having my own company in education, I enjoy learning about design, full-stack development and foreign languages</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container pink">
  <p>Brought to you by Silvapowa</p>
</div>

