<div class="banner imageContent">
  <div class="overlay">
    <div class="banner-content">
      <h1>Campfire Stories</h1>
      <p>The best place to share your stories</p>
      <a href="#scan" class="btn btn-primary btn-lg"><span>Start now</span></a>
    </div>
  </div>
</div>

<!-- dirty pink container -->

<div class="container gray">
  <h1 class="mar-top">Did you know?</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>43%</h1>
        <p>"Almost half of people over 60 suffer from loneliness"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>15</h1>
        <p>"15 cigarettes a day: the effects of loneliness on physical and cognitive health"</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <h1>64%</h1>
        <p>"Lonely seniors are 64% more likely to develop dementia and 32% to get a stroke"</p>
      </div>
    </div>
  </div>
</div>



<!-- dirty ivory container -->
<div class="container pink">
  <h1 class="mar-top">Benefits of storytelling</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512406318831" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4839" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M484.019439 14.199626c63.760748-4.808972 128.478505 2.344673 189.463925 21.71215 84.934579 26.712523 162.28486 76.8 221.739066 143.037009 64.681869 71.596262 108.082243 162.237009 122.676635 257.662804 14.319252 92.231776 2.595888 188.471028-34.440373 274.207103-28.471028 66.428411-71.584299 126.49271-125.272524 174.85757-53.114019 48.005981-116.575701 84.539813-184.882243 106.024673-96.693832 30.600374-202.718505 30.815701-299.52 0.610093-86.76486-26.856075-165.706168-78.103925-225.949906-146.027664-30.660187-34.464299-56.571215-73.175327-76.692337-114.685607-25.779439-53.114019-41.96486-110.85757-47.551402-169.641869-7.991028-82.374579 4.701308-166.734953 37.096075-242.936823 36.964486-87.614206 99.552897-164.127103 177.908038-217.982803 72.218318-49.96785 157.834766-80.340935 245.425046-86.836636m8.337944 45.398131C455.620187 62.038131 419.170093 68.880748 384.119626 80.149533c-77.039252 24.511402-147.104299 70.232523-200.924112 130.512149-60.255701 67.050467-99.947664 152.355888-111.874393 241.740561-8.337944 61.523738-4.055327 124.782056 12.835888 184.54729 13.80486 48.974953 35.947664 95.581308 65.160374 137.23514 50.769346 72.68486 123.10729 130.093458 205.553645 162.751402 92.064299 36.797009 196.270654 42.024673 291.600748 14.845607 69.454953-19.594766 133.981308-56.188411 186.65271-105.498318 58.987664-54.920374 103.105794-125.703178 126.014206-203.005607 27.202991-90.903925 24.87028-190.373084-6.758879-279.841495-16.460561-47.013084-40.840374-91.226916-71.644112-130.368598-54.968224-70.12486-130.83514-123.717383-215.518505-151.54243-55.482617-18.410467-114.554019-25.815327-172.859813-21.927477z" fill="#ab00ce" p-id="4840"></path><path d="M312.642991 292.174953c5.706168-2.440374 12.369346-2.368598 18.039626 0.155514 35.756262 16.13757 71.464673 32.430654 107.232897 48.556262 5.323364 2.177196 10.048598 6.12486 12.512897 11.400374 5.34729 10.204112 1.363738 23.925234-8.541308 29.76299-33.710654 20.886729-67.385421 41.833271-101.108038 62.684113-10.574953 6.639252-26.006729 2.464299-31.77271-8.613085-5.658318-9.988785-2.548037-24.09271 7.321122-30.21757 21.544673-13.52972 43.268785-26.748411 64.77757-40.325981-22.884486-10.311776-45.733084-20.683364-68.581683-31.054953-7.213458-2.954766-12.632523-9.845234-13.673271-17.585047-1.854206-10.144299 4.246729-20.946542 13.792898-24.762617zM710.292336 296.349907c6.220561-2.667664 12.417196-6.567477 19.475141-5.909533 9.677757 0.466542 18.577944 7.644112 20.826916 17.118505 2.811215 10.228037-2.440374 22.047103-12.154019 26.461308-23.231402 10.586916-46.486729 21.102056-69.742056 31.605234 21.53271 13.326355 43.053458 26.676636 64.55028 40.050841 8.481495 5.251589 12.536822 16.436636 9.498318 25.92299-3.56486 13.637383-21.006355 20.695327-33.100561 13.469907-33.818318-20.898692-67.576822-41.893084-101.359252-62.851589-6.890467-3.971589-11.304673-11.819065-11.113271-19.762243-0.239252-8.840374 5.299439-17.489346 13.469906-20.898691 33.196262-15.120748 66.440374-30.121869 99.648598-45.206729zM496.91514 483.971589c110.714019-3.014579 221.739065 12.477009 327.895327 43.866916 4.545794 1.50729 10.144299 2.033645 13.087103 6.328224 3.373458 4.689346 1.961869 10.778318 2.045608 16.161495-1.363738 47.228411-14.151776 94.085981-37.07215 135.416823-21.98729 39.883364-53.185794 74.634766-90.449346 100.832897-41.366729 29.21271-90.257944 47.694953-140.632523 52.934579-16.269159 1.83028-32.645981 1.854206-48.986916 1.758505-22.190654 0.311028-44.477009-0.789533-66.33271-4.84486-46.163738-8.290093-90.257944-27.729346-127.569346-56.140561-35.313645-26.700561-64.574206-61.308411-85.102056-100.533831-22.322243-42.658692-34.237009-90.808224-33.878131-138.981683-0.22729-4.880748 3.325607-9.438505 7.967103-10.742429 90.389533-27.729346 184.499439-43.508037 279.028037-46.056075m7.380935 148.611589c-27.753271 2.356636-55.303178 9.51028-79.958131 22.621308-19.080374 10.24-36.557757 24.200374-48.604112 42.371589-9.115514 13.733084-14.702056 29.930467-15.096823 46.450841-0.143551 3.576822 1.363738 7.321121 4.198879 9.570093 43.424299 29.48785 95.904299 45.146916 148.360374 44.919627 15.647103-0.131589 31.318131 0.430654 46.917383-0.992898 43.998505-3.624673 86.99215-18.601869 123.753271-43.029532 3.098318-2.033645 5.251589-5.526729 5.39514-9.259066-0.143551-14.175701-4.043364-28.231776-10.885981-40.625047-10.646729-19.343551-27.585794-34.631776-46.438879-45.780934-38.208598-22.382056-83.881869-29.846729-127.641121-26.245981z" fill="#ab00ce" p-id="4841"></path></svg>
          <p>"Speaking improves mood, communication skills and social interactions"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512407685998" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2262" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M862.57664 0.72704c-84.01152 0-152.1152 68.10368-152.1152 152.1152 0 16.0128 1.72032 23.85152 6.30784 38.3488l-435.41504 248.96 21.34016 55.26272L743.8336 244.84864c27.74272 37.06112 68.8896 60.10624 118.7456 60.10624 84.01152 0 152.1152-68.10368 152.1152-152.1152 0-84.00896-68.10624-152.1152-152.1152-152.1152z m3.46112 234.84928c-46.53312 0-84.3904-37.85984-84.3904-84.39296 0-46.53568 37.85728-84.39296 84.3904-84.39296 46.53568 0 84.39296 37.85728 84.39296 84.39296 0 46.53312-37.85728 84.39296-84.39296 84.39296z" p-id="2263" fill="#ab00ce"></path><path d="M759.1808 613.66272c-76.29312 0-142.8352 41.72032-178.07616 103.58528l-254.2464-138.38592a165.50144 165.50144 0 0 0 3.31776-33.05984c0-40.33792-19.6608-84.10112-43.7248-112.7424-9.55648-11.37152-15.45472-14.6176-27.71712-23.0656l85.74208-201.24672a104.11264 104.11264 0 0 0 58.58048-29.49376c40.83968-40.83968 40.83968-107.05664 0-147.89632C382.63552 10.93632 355.87072 0.72448 329.10848 0.72448c-26.7648 0-53.5296 10.21184-73.94816 30.63296-40.83968 40.83968-40.83968 107.05408 0 147.89632 10.51648 10.53184 17.3568 13.22752 31.29088 18.4576l-82.08128 195.2384c-15.02208-4.3776-23.33952-11.94752-38.98624-11.93728-91.008 0-164.78976 73.7792-164.78976 164.78976 0 91.01312 73.7792 164.79232 164.78976 164.79232 61.60896 0 111.23968-34.4064 138.3296-78.59456l258.06336 139.29728c-4.82304 17.64864-7.4112 28.8768-7.3984 47.17056 0 113.11104 91.69152 204.80768 204.80256 204.80768 113.11104 0 204.80512-91.69664 204.80512-204.80768 0-113.10848-91.69408-204.80512-204.80512-204.80512zM336.50944 209.88416l-0.50688-0.256 0.9984-0.06912-0.49152 0.32512zM295.42656 66.5088a49.4592 49.4592 0 0 1 35.20512-14.58432 49.45664 49.45664 0 0 1 35.20512 14.58432c19.40992 19.40992 19.40992 50.9952 0 70.40768a49.4592 49.4592 0 0 1-35.20512 14.58176 49.45664 49.45664 0 0 1-35.20512-14.58176c-19.40992-19.41248-19.40992-50.9952 0-70.40768z m-133.5552 575.62368c-53.63712 0-97.28-43.64032-97.28-97.28s43.64032-97.28 97.28-97.28c53.64224 0 97.28 43.64032 97.28 97.28s-43.63776 97.28-97.28 97.28zM860.8512 917.57824c-26.35008 26.35008-61.3888 40.86272-98.65472 40.86272-37.26592 0-72.30464-14.51264-98.65472-40.86272-26.35264-26.35264-40.86528-61.3888-40.86528-98.65728 0-37.26592 14.51264-72.30208 40.86528-98.65472 26.35008-26.35264 61.3888-40.86528 98.65472-40.86528 37.26848 0 72.30464 14.5152 98.65472 40.86528 26.35264 26.35264 40.86528 61.3888 40.86528 98.65472 0 37.26848-14.51264 72.30464-40.86528 98.65728z" p-id="2264" fill="#ab00ce"></path></svg>
          <p>"Storytelling improves the brain by forming new neuronal pathways"</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <svg t="1512406215990" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1227" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M859.161744 516.247744c-42.140773 0-81.645508 19.197224-108.994389 51.659567-27.348881-32.462343-66.853617-51.659567-108.99439-51.659567-80.438007 0-145.889695 69.142753-145.889695 154.132426 0 38.366819 12.765745 74.346265 35.951817 101.300151 50.28629 58.472739 206.526727 229.297336 208.108758 231.017514l16.262382 17.774829 15.665795-18.316158C976.24537 762.383584 976.24537 762.383584 976.882889 761.453399c18.413372-26.079982 28.154223-57.570183 28.154224-91.073229 0.001023-84.989673-65.437361-154.132426-145.875369-154.132426z m83.420945 219.868593C932.509263 747.93143 800.523229 902.33401 754.538919 956.1241c-41.4746-45.442982-150.73198-165.440983-190.985776-212.236776-16.539698-19.232017-25.642007-45.332465-25.642007-73.507154 0-61.483306 46.316885-111.505583 103.263875-111.505583 37.284161 0 71.793116 21.840424 90.081645 57.001225l18.912745 36.347836 18.912745-36.347836c18.288528-35.160801 52.797483-57.001225 90.081645-57.001225 56.932664 0 103.249549 50.022277 103.249549 111.505583-0.002047 24.219611-6.800893 46.844911-19.830651 65.736167z" fill="#ab00ce" p-id="1228"></path><path d="M722.110345 250.631224c0-135.941112-110.589724-246.537999-246.530836-246.537999S229.03537 114.690112 229.03537 250.631224c0 96.473215 55.82954 179.947372 136.75464 220.425272-196.004069 59.882855-341.616448 276.365328-341.616448 533.590737h42.626843c0-279.818987 183.326329-507.47187 408.655284-507.47187v-0.00614c0.042979 0 0.082888 0.00614 0.124843 0.00614 135.940089 0 246.529813-110.596887 246.529813-246.544139z m-450.449155 0c0-112.435769 91.482551-203.911156 203.918319-203.911156s203.903993 91.476411 203.903993 203.911156c0 112.441908-91.469248 203.918319-203.903993 203.918319S271.66119 363.073132 271.66119 250.631224z" fill="#ab00ce" p-id="1229"></path></svg>
          <p>"Exchanging stories alleviates symptoms of agitation, depression and blood pressure"</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ivory container -->

<div class="container gray">
  <h1 class="mar-top">How to use campfire</h1>
  <div class="stats">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <%#= image_tag "smartphone.png" %>
          <svg t="1512405608675" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1702" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M511.999 892.243c-31.93 0-63.855-2.9-94.335-8.705L195.61 1018.513 195.61 795.008C79.505 713.733 5.485 588.919 5.485 449.589c0-245.274 226.409-444.104 506.514-444.104 280.114 0 506.514 198.829 506.514 444.104C1018.512 694.858 792.113 892.243 511.999 892.243zM511.999 69.34c-245.274 0-444.104 169.805-444.104 380.249 0 129.17 75.465 242.374 188.67 310.579l0 148.04 149.49-89.98c34.83 7.26 69.665 11.615 107.4 11.615 245.274 0 444.104-169.81 444.104-380.254C956.113 239.144 757.278 69.34 511.999 69.34zM734.058 417.664 289.944 417.664c-17.41 0-31.93-14.515-31.93-31.93 0-17.42 14.52-31.93 31.93-31.93l444.114 0c17.41 0 31.93 14.51 31.93 31.93C765.988 403.149 751.468 417.664 734.058 417.664zM353.804 543.924l316.394 0c17.41 0 31.925 14.52 31.925 31.93 0 17.42-14.515 31.935-31.925 31.935L353.804 607.789c-17.415 0-31.925-14.515-31.925-31.935C321.879 558.444 336.389 543.924 353.804 543.924z" p-id="1703" fill="#ab00ce"></path></svg>
          <p>Choose a topic and talk about it.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <%#= image_tag "yoga-posture.png" %>
          <svg t="1512405547004" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="905" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"><defs><style type="text/css"></style></defs><path d="M840.074284 369.496562c17.859957-4.676109 28.552329-22.974042 23.876219-40.834001-21.062162-80.327848-90.653054-180.107577-198.683506-221.9303-65.30293-25.279315-169.693202-38.185166-296.131737 43.897206-79.913476 51.872555-126.900114 129.55157-135.887789 224.67617-14.447946 152.987192 68.578566 304.728645 114.135882 348.374081 72.192519 69.200124 119.895129 114.941023 166.994539 187.458745 45.601901 70.167866 144.760071 131.303472 225.48131 107.728853 46.294269-13.524787 101.736194-58.712316 102.842934-197.159771 0.159979-18.481516-14.702338-33.574622-33.160251-33.713621-18.481516-0.162602-33.574622 14.699715-33.71362 33.157628-0.367165 43.99162-7.949124 119.850545-54.731198 133.51433-46.708641 13.619201-119.318155-31.799117-150.634713-79.984286-51.319185-78.99294-103.949674-129.457156-176.813581-199.302442-37.83636-36.247059-105.239997-172.827218-93.810674-293.781881 7.096776-75.098369 42.65409-133.949683 105.701577-174.875474 82.496744-53.532666 161.765059-66.181503 235.573104-37.608193 85.536347 33.113043 141.925032 114.712856 158.124881 176.514604C803.921639 363.4803 822.216949 374.175294 840.074284 369.496562zM747.490991 568.979963c-18.644118-6.485709-42.153171 7.296094-54.993459 47.492802-13.794916 43.173366-6.485709 154.576492-24.883301 156.281186-14.154213 1.311304-13.16549-6.855496-17.317078-16.960403-0.005245-0.015736-0.005245-0.028849-0.010491-0.044584l-13.897197-47.563612c-6.176241-26.268038-13.181226-56.042502-32.397072-86.829293l-43.692643-58.114361c-26.155266-31.526366-46.776829-56.43327-47.424613-86.761105-0.621558-29.91084 17.996334-59.430911 45.302924-71.780769 16.037246-7.259377 40.464212-11.059536 65.69632 12.074485 13.619201 12.465254 34.775777 11.568322 47.264635-2.050879 12.465254-13.616579 11.568322-34.773155-2.053502-47.262011-39.49647-36.202475-91.274612-45.074756-138.49204-23.713618-51.778142 23.435622-85.790739 77.33283-84.59483 134.112284 1.130344 53.645438 32.467882 91.481798 62.795717 128.054062l38.46054 50.878588c13.385789 21.405724 18.295311 42.399697 24.009972 66.687666l17.120383 57.652783c0.820876 2.761606 2.027276 5.163914 3.398899 7.393131 23.579865 48.63888 67.151868 58.777881 99.100473 46.923695 35.646483-13.228433 49.305023-47.167597 44.442708-88.950981-2.423289-20.826127 6.485709-76.197241 25.148184-120.676666C769.193069 605.061798 761.183626 573.742618 747.490991 568.979963z" p-id="906" fill="#ab00ce"></path></svg>
          <p>Choose a topic and listen to what others said about the topic.</p>
        </div>
      </div>
<!--       <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "love-triangle.png" %>
          <p>Save and share with others!</p>
        </div>
      </div> -->
    </div>
  </div>
</div>




<!-- Scan QR Code Section-->
<div class="container pink" id="scan">
  <h1 class="mar-top">Scan the WeChat QR code</h1>
  <%= image_tag("silvapowa_qrcode.jpg", :alt => "silvapowa qr code", :class => "qr") %>
</div>


<!-- TEAM -->
<div class="container team gray">
  <h1>Meet the campfire builders</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag("harrison.png", :alt => "Harrison Kim") %>
      <p>Harrison</p>
      <p>Architect. Teacher. Philanthropist. Web Developer.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/20118433?v=4">
      <p>Ben</p>
      <p>After 5 years of working in tech management, I decided to learn coding at Le Wagon</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="https://avatars0.githubusercontent.com/u/31949049?v=4">
      <p>Lan</p>
      <p>Having my own company in education, I enjoy learning about design, full-stack development and foreign languages</p>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container pink footer">
  <p>Brought to you by Silvapowa</p>
</div>

